@{
    ViewData["Title"] = "Home";
}
@model List<Movie>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">

@foreach(var movie in Model)
{
<div class="card h-100">
    <div class="row g-0">

        <div class="col-md-6">
            <img src="/images/movies/@movie.ImgUrl" style="height:400px" class="img-fluid rounded-start" alt="Movie poster">
        </div>


<div class="col-md-6">

            <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@movie.Name</h5>
                    <p class="card-text"><small class="text-muted">MOONLIGHT - OCTOBER 28</small></p>
                    <p class="card-text">Price: @movie.Price</p>
                    <p class="card-text">
                        <strong>Cinema:</strong> @movie.Cinema.Name<br>
                        <strong>Start Date:</strong> @movie.StartDate<br>
                        <strong>End Date:</strong> @movie.EndDate<br>
                        <strong>Category: </strong><a href="/Category/ShowMovies/@movie.CategoryId"> @movie.Category.Name</a><br>
                        <strong>Available:</strong> Yes
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <a href="[MORE_DETAILS_URL]" class="btn btn-primary">More Details</a>
                        <a href="[BOOK_TICKET_URL]" class="btn btn-danger">Book Ticket</a>
                    </small>
                </div>
            </div>
       

 </div>
        </div>

}

    </div>
</div>

