@model IEnumerable<ETickets.Models.Cinema>

<div class="container">


<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.CinemaLogo)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.CinemaLogo)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                    <a asp-controller="Cinema" asp-action="ShowMovies" asp-route-id="@item.Id">Show All Movies</a> 
            </td>
        </tr>
}
    </tbody>
</table>
</div>