@model Movie

<form asp-action="Buy" asp-controller="Ticket" method="get">
    <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4 p-4">
    @for (DateTime date = Model.StartDate; date <= Model.EndDate; date = date.AddDays(1)){
<div class="card m-1 " style="width: 7rem; ">
    <div class="card-body">
        <h5 class="card-title">@date.ToString("ddd", new System.Globalization.CultureInfo("en-US"))</h5>
        <p class="card-text"> @date.ToString("dd/MM", new System.Globalization.CultureInfo("en-GB"))</p>
        <input class="form-check-input" type="radio" name="selectDate" value="@date"> 
    </div>
</div>
    }
    </div>
</div>


<div class="container">
    <div class="card h-100">
        <div class="row g-0">

            <div class="col-md-8">
                <img src="/images/movies/@Model.ImgUrl" style="height:400px" class="w-75 img-fluid rounded-start" alt="Movie poster">
            </div>


            <div class="col-md-4">

                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@Model.Name</h5>
                    <h2 class="card-text bg-info text-center">Price: @Model.Price</h2>
                    <p class="card-text">
                        <strong>Cinema:</strong> @Model.Cinema.Name  
                        <strong>Category: </strong><a href="/Category/ShowMovies/@Model.CategoryId"> @Model.Category.Name</a><br>
                    </p>
                </div>
                
                <div>
                    <h6>Actors</h6>
                    @foreach (var actor in Model.Actors)
                    {
                        <a asp-action="ShowDetails" asp-controller="Actor" asp-route-id="@actor.Id"><img src="/images/cast/@actor.ProfilePicture" class="rounded-circle" asp-append-version="true"></a>

                    }
                    
                </div><br />
                <div class="card-footer">

                    @* <form asp-action="Buy" asp-controller="Ticket" method="get"> *@
                        <input type="hidden" asp-for="@Model.Id" />
                        <input type="hidden" asp-for="@Model.Name" />
                        <input type="hidden" asp-for="@Model.Price" />
                        <input type="hidden" asp-for="@Model.ImgUrl" />
                        <input type="hidden" asp-for="@Model.Cinema.Name" />
                        <input type="hidden" asp-for="@Model.Cinema.Address" />
                        <div class="row">
                            <h5>Quantity :</h5>
                            <div class="col-3 form-group">
                                <select name="quantity" class="form-select" id="quantitySelector">
                                    @for (int i = 1; i < 10; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            
                            <button class="col-8 btn btn-primary" type="submit">Buy Now</button>
                        </div>
                    </form>
                </div>

            </div>


        </div>
    </div>
</div>


