@using Microsoft.EntityFrameworkCore
@* @model List<CategoryWithNote> *@
@* @model List<Category> *@
<a href="/Category/CreateNew">Create New Category</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Category Name</th>
            <th scope="col">Show All Products</th>
            @* <th scope="col">Notes</th> *@
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var category in Model)
        {
            <tr>
            <td>@category.CategoryId</td>
            <td>@category.CategoryName</td>
            <td><a class="btn btn-primary" href="/Category/ShowProducts?id=@category.CategoryId" role="button">Show</a></td>
             @* <td>@category.Note</td> *@
            <td><a href="/Category/Delete?id=@category.CategoryId">Delete</a></td>
        </tr>
        } 
       
    </tbody>
</table>

@* <table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Brand Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brand in (DbSet<Brand>)ViewData["brands"])
        {
            <tr>
                <td>@brand.BrandId</td>
                <td>@brand.BrandName</td>
            </tr>
        }

    </tbody>
</table> *@