
@* <form method="post" action="/Product/SaveChanges/@Model.ProductId"> *@
    @* <form method="post" action="/Product/SaveChanges">
    <input name="ProductId" id="ProductId" type="hidden" value="@Model.ProductId" />
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" name="ProductName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="@Model.ProductName">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">ModelYear</label>
        <input type="number" name="ModelYear" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="@Model.ModelYear">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">List Price</label>
        <input type="number" name="ListPrice" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="@Model.ListPrice">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    

    <div class="form-group">
        <label for="exampleInputPassword1">Brand</label>

        <select name="BrandId" class="form-select">
            @foreach (var brand in (List<Brand>)ViewData["brands"])
            {
                if(Model.BrandId == brand.BrandId)
                {
                    <option selected value="@brand.BrandId">@brand.BrandName</option>
                }
                <option value="@brand.BrandId">@brand.BrandName</option>
            }

        </select>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Category</label>

        <select name="CategoryId" class="form-select">
            @foreach (var category in (List<Category>)ViewData["category"])
            {
                if (Model.CategoryId == category.CategoryId)
                {
                    <option selected value="@category.CategoryId">@category.CategoryName</option>
                }
                <option value="@category.CategoryId">@category.CategoryName</option>
            }

        </select>

    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form> *@


@* 
@{
    SelectList brands = new SelectList(ViewBag.brands, "BrandId", "BrandName");

    SelectList categories = new SelectList(ViewBag.category, "CategoryId", "CategoryName");
}

@using (Html.BeginForm("SaveChanges", "Product", FormMethod.Post))
{
    @Html.HiddenFor(e => e.ProductId)

    @Html.LabelFor(e => e.ProductName)
    @Html.TextBoxFor(e => e.ProductName, new {@class="form-control" })

    @Html.LabelFor(e => e.ModelYear)
    @Html.EditorFor(e => e.ModelYear, new { htmlAttributes = new { @class = "form-control" } })

    @Html.LabelFor(e => e.ListPrice)
    @Html.EditorFor(e => e.ListPrice, new { htmlAttributes = new { @class = "form-control", type = "number" } })

    @Html.LabelFor(e => e.BrandId)
    @Html.DropDownListFor(e => e.BrandId, brands, new { @class = "form-select" })

    @Html.LabelFor(e => e.CategoryId)
    @Html.DropDownListFor(e => e.CategoryId, categories, new{ @class = "form-select" })
    <button type="submit" class="btn btn-primary">Save Changes</button>
} *@



<form asp-action="SaveChanges" asp-controller="Product" method="post">

    <partial name="_CreateEditParial.cshtml"></partial>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>


@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml"></partial>

}